@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Sedgwick+Ave&display=swap');

:root {
  --color-primary: #FF1700;
}

* {
    box-sizing: border-box;
    font-family: 'Rancho', cursive;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 20px;
}

html, body {
    background-color: #222831;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}